


/* 广告 */
#anuncio{
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.publicidad1{
    width: 500px;
    height: 300px;
    text-align: center;
    border: 1px solid black;
    background-color: wheat;
    box-shadow: 10px 10px 6px black ;
  
 

}

.publicidad1-2{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}


/* 饭馆介绍 */

.content{
    width: 70%;
    margin: auto;
    padding: 20px;
    
    
   

}

.content-1{
    display: flex;
    min-height: 500px;

}

.box1{
    width: 65%;
    background-color: rgb(242, 242, 242);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;

}

.content h2{

    text-decoration: underline;
    color: rgb(160, 94, 31);
}


.box2{
    width: 35%;   
    background-image: url(../imagen/img1.jpg);
    background-size: cover;


}

.content-2{
    display: flex;
    min-height: 500px;
    margin-top: 20px;
}

.box3{
    background-image: url(../imagen/img.jpg);
    width: 35%;
    background-size: cover;
}

.box4{
    width: 65%;
    background-color: rgb(242, 242, 242);
    padding: 20px;
    display: flex;
    flex-direction: column;
   
    font-size: 20px;
}

/* 尾部 */

#cola{
    width: 70%;
    margin: auto;
    
    
   
  
}

.baner{
    width: 60%;
    margin:auto;
    border: 1px red solid;
    
}

.baner img{
    width: 100%;
   
  
    
}

/* 评论区 */

.comentario{
    background-color: antiquewhite;
    margin: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.comentario h1{
    text-align: center;
    text-decoration: underline;
    color: rgb(160, 94, 31);
}

.ingresar{
    border: 2px solid ;
    padding: 10px;
    background-color: azure;
}

.ingresar h4{
    color: rgb(66, 120, 41);
}

.ingresar textarea{
    width: 80%;
}

.article{
    background-color: rgb(214, 147, 83);
    padding: 5px;
    padding-left: 30px;
    margin: 10px;
}

#lista{
    padding: 10px;
}





@media(max-width:1000px){
    .content{
        width: 90%;
        margin: auto;
    }

    #cola{
        width: 90% ;
    }

    .baner img{
        height: 100%;
    }



    


}

@media(max-width:768px){

   

    .content-1{
        flex-direction: column;
    }

   .box1{
      width:fit-content;
       
   }

   .box2{
       height: 200px;
       width:auto;
   }

   .content-2{
       flex-direction: column;
   }

   .box3{
       height: 200px;
       width: 100%;
   }

   .box4{
       width: auto;
   }

   .baner{
       width: 80%;
       margin: auto;

   }

}

@media(max-width:500px){
    .content p{
        font-size: 16px;
    }

    .comentario{
        padding-left: 5px;
        padding-right: 5px;
    }
}